-- Reset analytics schema
DROP SCHEMA IF EXISTS analytics CASCADE;
CREATE SCHEMA analytics;
SET search_path TO analytics;

-- 1. Devices Table
CREATE TABLE devices (
    device_id UUID PRIMARY KEY,
    device_name VARCHAR(100) NOT NULL,
    model_number VARCHAR(50) NOT NULL,
    manufacture_date TIMESTAMP NOT NULL,
    firmware_version VARCHAR(20),
    hardware_version VARCHAR(20),
    is_active BOOLEAN DEFAULT TRUE,
    deployment_location VARCHAR(100),
    power_source_type VARCHAR(50),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 2. Current State Table
CREATE TABLE current_state (
    status_id UUID PRIMARY KEY,
    device_id UUID NOT NULL,
    battery_voltage FLOAT,
    signal_strength_dbm INTEGER,
    internal_temperature FLOAT,
    memory_usage FLOAT,
    error_code VARCHAR(50),
    status_timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 3. Device Readings Table
CREATE TABLE device_readings (
    reading_id UUID PRIMARY KEY,
    device_id UUID NOT NULL,
    timestamp TIMESTAMP NOT NULL,
    temperature FLOAT,
    humidity FLOAT,
    pm2_5 FLOAT,
    pm10 FLOAT,
    validation_status VARCHAR(20),
    reading_quality INTEGER,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 4. Fact Device Status Table
CREATE TABLE fact_device_status (
    status_key SERIAL PRIMARY KEY,
    device_key UUID NOT NULL,
    date_key DATE NOT NULL,
    time_key TIME NOT NULL,
    status_key_ref VARCHAR(20),
    battery_voltage FLOAT,
    signal_strength_dbm INTEGER,
    internal_temperature FLOAT,
    memory_usage FLOAT,
    humidity FLOAT,
    pm2_5 FLOAT,
    pm10 FLOAT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- 5. Fact Device Performance Table
CREATE TABLE fact_device_performance (
    performance_key SERIAL PRIMARY KEY,
    device_key UUID NOT NULL,
    date_key DATE NOT NULL,
    uptime_percentage FLOAT,
    downtime_minutes INTEGER,
    battery_performance_score INTEGER,
    signal_performance_score INTEGER,
    overall_health_score INTEGER,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Initialize the dim_status table with standard statuses
CREATE TABLE dim_status (
    status_key VARCHAR(20) PRIMARY KEY,
    status_name VARCHAR(50) NOT NULL,
    status_description TEXT,
    is_operational BOOLEAN,
    priority_level INTEGER CHECK (priority_level BETWEEN 1 AND 5),
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);


-- Create date dimension table
CREATE TABLE dim_date (
    date_key DATE PRIMARY KEY,
    year INTEGER NOT NULL,
    month INTEGER NOT NULL,
    day INTEGER NOT NULL,
    quarter INTEGER NOT NULL,
    day_of_week INTEGER NOT NULL,
    is_weekend BOOLEAN NOT NULL,
    is_holiday BOOLEAN NOT NULL,
    season VARCHAR(10)
);

-- Insert some sample dates
INSERT INTO dim_date (date_key, year, month, day, quarter, day_of_week, is_weekend, is_holiday, season)
VALUES
    ('2023-03-01', 2023, 3, 1, 1, 3, FALSE, FALSE, 'Spring'),
    ('2023-03-02', 2023, 3, 2, 1, 4, FALSE, FALSE, 'Spring'),
    ('2023-03-03', 2023, 3, 3, 1, 5, FALSE, FALSE, 'Spring'),
    ('2023-03-04', 2023, 3, 4, 1, 6, TRUE, FALSE, 'Spring'),
    ('2023-03-05', 2023, 3, 5, 1, 0, TRUE, FALSE, 'Spring');

-- Insert sample devices with valid UUIDs

-- Add foreign key constraints
ALTER TABLE current_state ADD CONSTRAINT fk_current_state_device 
    FOREIGN KEY (device_id) REFERENCES devices(device_id);

ALTER TABLE device_readings ADD CONSTRAINT fk_device_readings_device 
    FOREIGN KEY (device_id) REFERENCES devices(device_id);

ALTER TABLE fact_device_status ADD CONSTRAINT fk_fact_device_status_device 
    FOREIGN KEY (device_key) REFERENCES devices(device_id);

ALTER TABLE fact_device_performance ADD CONSTRAINT fk_fact_device_performance_device 
    FOREIGN KEY (device_key) REFERENCES devices(device_id);

-- Create a device status view
CREATE OR REPLACE VIEW device_status_view AS
SELECT 
    d.device_id,
    d.device_name,
    d.model_number,
    d.deployment_location,
    cs.battery_voltage,
    cs.signal_strength_dbm,
    cs.internal_temperature,
    cs.error_code,
    cs.status_timestamp,
    CASE 
        WHEN cs.battery_voltage < 3.2 THEN 'LOW_BATTERY'
        WHEN cs.signal_strength_dbm < -90 THEN 'POOR_SIGNAL'
        WHEN cs.error_code IS NOT NULL THEN 'ERROR'
        WHEN d.is_active = false THEN 'OFFLINE'
        ELSE 'ACTIVE'
    END as device_status
FROM 
    devices d
LEFT JOIN 
    current_state cs ON d.device_id = cs.device_id;

-- Insert sample device states

-- Insert sample device readings

-- Insert fact device status records

-- Insert fact device performance records
INSERT INTO fact_device_performance (device_key, date_key, uptime_percentage, downtime_minutes, battery_performance_score, signal_performance_score, overall_health_score)
VALUES
    ('6c9a9478-c0c1-4a0f-8a17-a69b2cd732a9', '2023-03-01', 99.8, 2.88, 95, 85, 92),
    ('a8b7c6d5-e4f3-4a2b-9c8d-7e6f5a4b3c2d', '2023-03-01', 98.5, 21.6, 85, 70, 80),
    ('b2c3d4e5-a5b5-4a2b-9c8d-123456789abc', '2023-03-01', 99.2, 11.52, 75, 90, 85),
    ('c3d4e5f6-a5b5-4a2b-9c8d-234567890abc', '2023-03-01', 95.0, 72.0, 40, 60, 52),
    ('d4e5f6a7-a5b5-4a2b-9c8d-345678901abc', '2023-03-01', 97.5, 36.0, 90, 75, 83);